<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <blockquote>
            <h2>Example of Template Engine</h2>
            <h3>Welcome <%= username %></h3>
            <small><%= email %></small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ducimus iure reprehenderit incidunt eum sapiente quisquam, maiores commodi! Odio asperiores nulla vitae cupiditate tempora architecto perspiciatis, quis sed doloribus! Nesciunt.</p>
    </blockquote>
</body>
</html>