#outer{
    height: auto;
    background-color: wheat;
    padding: 2%;
    border-style: solid;
    float: left;
}
#inner{
    height: auto;
    width: 18%;
    border-style: solid;
    background-color: black;
    color:white;
    padding: 2%;
    float:left;
    margin: 1%;
}

@media screen and (max-width:1000px){
    #inner{
        height: auto;
        width: 43%;
    }
}

@media screen and (max-width:650px){
    #inner{
        height: auto;
        width: 93%;
    }
}