   <div id="about">
            <center>
                <h1>About Us</h1>
            </center>
            <div id="aboutImg">
                <img src="images/banner.jpg" id="aboutImage" alt="">
            </div>
            <div id="aboutContent">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, molestias quibusdam ea omnis necessitatibus impedit vel provident aliquam fugiat eius illum eveniet soluta dolorum, magnam velit esse sint pariatur? Ipsum nulla necessitatibus id similique, minus voluptatum. Sint laudantium exercitationem minima voluptate aliquam placeat odio!itate, vitae aut distinctio nostrum? Eum voluptate optio itaque odio impedit! Blanditiis quaerat, ducimus, facilis deserunt aperiam libero beatae laudantium in, hic itaque voluptatem voluptas porro exercitationem fuga consequatur rem veniam reiciendis minus omnis maiores ullam similique? Recusandae laboriosam minima, aperiam, reprehenderit illum velit est ratione libero molestiae aspernatur dolor nemo maiores, deleniti illo porro voaxime. Accusantium, id. Expedita nostrum reiciendis aliquid dicta?
            </div>
        </div>