<div id="box">
            <div id="box1">
                <div id="boxImage">
                    <img src="images/banner.jpg" id="boxImg" alt="">
                </div>
                <div id="boxContent">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspi is ciatis! Quisquam iure
                    mollitia. <br>
                    <button>Read More</button>
                </div>
            </div>
            <div id="box1">
                <div id="boxImage">
                    <img src="images/banner.jpg" id="boxImg" alt="">
                </div>
                <div id="boxContent">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspi is ciatis! Quisquam iure
                    mollitia. <br>
                    <button>Read More</button>
                </div>
            </div>
            <div id="box1">
                <div id="boxImage">
                    <img src="images/banner.jpg" id="boxImg" alt="">
                </div>
                <div id="boxContent">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspi is ciatis! Quisquam iure
                    mollitia. <br>
                    <button>Read More</button>
                </div>
            </div>
            <div id="box1">
                <div id="boxImage">
                    <img src="images/banner.jpg" id="boxImg" alt="">
                </div>
                <div id="boxContent">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspi is ciatis! Quisquam iure
                    mollitia. <br>
                    <button>Read More</button>
                </div>
            </div>
        </div>