<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Session Management | Session</h2>
    <hr width="400">
        <a href="/">Home</a>   | 
        <a href="/login">Login</a>   
    <hr width="400">
    </center>
    <blockquote>
        <h3>Home Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, molestias! Quae at possimus, illo nam tempora id amet tempore perferendis dignissimos aspernatur sapiente rerum doloremque omnis ab? Dolor, inventore. Sit corporis, placeat ipsam facilis officiis tempora dolorem, perferendis pariatur nostrum deleniti quo nam voluptatem odio voluptates velit esse dicta sed eos libero sequi. Culpa nostrum error quia, enim quisquam cupiditate?</p>
    </blockquote>
</body>
</html>