<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Session Management | Session</h2>
    <hr width="400">
        <a href="/">Home</a>   | 
        <a href="/login">Login</a>   
    <hr width="400">
    <blockquote>
        <h3>Login Page</h3>
        <form action="/login" method="post">
            <input 
                type="email"
                placeholder="Enter Email"
                id="email"
                name="email"
                required
            > <br>
            <input 
                type="password"
                placeholder="Enter Password"
                id="password"
                name="password"
                required
            > <br>
            <input 
                type="submit"
                value="Login"
            > 
            <input 
                type="reset"
                value="Reset"
            > <br>
        </form>
    </blockquote>
</center>
</body>
</html>