*{
    font-family: candara;
}
#nav{
    height: 40px;
    background-color: black;
    color:white;
}
#nav ul{
    list-style: none;
    padding-top: 8px;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color:white;
    margin-left: 40px;
}
input[type="text"],input[type="email"],input[type="password"]{
    height:30px;
    width: 300px;
    margin: 2px;
    font-size: 16px;
}
input[type="submit"],input[type="reset"]{
height:35px;
    width: 305px;
    margin: 2px;
    font-size: 16px;
    color:white;
    background-color: black;
    border-width: 0;
}
#up{
    height:30px;
    width:auto;
    padding:5px;
    border-width: 0px;
    background-color: green;
    color:white;
}
#del{
    height:30px;
    width:auto;
    padding:5px;
    border-width: 0px;
    color:white;
    background-color: red;
}